a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div :hover p {
  display: block;
}
